html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}
.container__footer{
  max-width: 960px;
  margin: 0 auto;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

body {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

